:root {
  --color-brand-normal: #819b57;
  --color-priemery-dark: #31261a;
  --color-secondary-dark: #a18268;
  --color-priemery-light: #faf4ea;
  --color-brand-dark: #465929;
  --color-brand-light: #cfcfbc;
}
